name: Build documentation

on:
  push:
    branches: ["master", "main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build Writerside docs
        uses: JetBrains/writerside-github-action@v4
        with:
          instance: Writerside/webdoc
          artifact: webHelpWEBDOC2-all.zip
          docker-version: 241.18775

      - name: Unzip artifact
        run: unzip artifacts/webHelpWEBDOC2-all.zip -d artifacts/webHelpWEBDOC2-all

      - name: Upload documentation
        uses: actions/upload-pages-artifact@v3
        with:
          name: github-pages
          path: artifacts/webHelpWEBDOC2-all
          retention-days: 7

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
